<a href="https://colab.research.google.com/github/Wonbin-Choi/BackJun_Repo/blob/main/%EB%8B%A4%EC%9D%B4%EB%82%98%EB%AF%B9_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 한 번 계산된 결과를 메모이제이션(Memoization)하기 위한 리스트 초기화
d = [0] * 100
# 피보나치 함수를 재귀함수로 구현(탑다운 다이나믹 프로그래밍)
def fibo(x):
  # 종료 조건(1 혹은 2일 때 1을 반환)
  if x == 1 or x == 2: return 1
  # 이미 계산한 적 있는 문제라면 그대로 반환
  if d[x] != 0: return d[x]
  # 아직 계산하지 않은 문제라면 점화식에 따라서 피보나치 결과 반환
  d[x] = fibo(x-1) + fibo(x-2)
  return d[x]

print(fibo(99))

218922995834555169026

In [4]:
# DP 테이블 초기화
dp = [0] * 100
# 첫번째, 두번째 피보나치 수는 1
dp[1], dp[2] = 1,1
n = int(input())
# 피보나치 함수를 반복문으로 구현(보텀업 다이나믹 프로그래밍)
for i in range(3,n+1):
  dp[i] = dp[i-1] + dp[i-2]
print(dp[n])

99
218922995834555169026

In [12]:
# 하노이의 탑
n = int(input())
seconds = [0] * n
seconds[0] = 1
for i in range(1,n):
  seconds[i] = 2 * seconds[i-1] + 1
print(seconds[-1])

3
7

In [15]:
# 계단 점프
# 한 번에 2,3,5칸 씩 뛸 수 있을 떄, n번째 칸으로 갈 수 있는 경우의 수
# answer[0]: 0, answer[1]: 0, answer[2]: 1(2), answer[3]: 1 (3)
# answer[4]: 1(2/2)
# answer[5]: (2/3), (3,2), (5) => 3
# answer[6]: (2/2/2), (3/3) => 2
# answer[7]: [(2/2/3), (2/3/2), (2/5) => answer[5]일때의 값], [(3/2/2) => answer[4]일 때의 값], [(5/2) => answer[2]일 떄의 값]
# answer[n] = answer[n-2] + answer[n-3] + answer[n-5]
n = int(input())
answer = [0,0,1,1,1,3] + [0] * (n-5)
for i in range(6,n+1):
  answer[i] = answer[i-2] + answer[i-3] + answer[i-5]
print(answer[-1])

7
5

In [ ]:
# 1463