<a href="https://colab.research.google.com/github/Wonbin-Choi/BackJun_Repo/blob/main/%EB%B0%B1%EC%A4%80_11%EB%8B%A8%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 24262
print(1)
print(0)

In [ ]:
# 24263
n = int(input())
print(n)
print(1)

In [ ]:
# 24264
n = int(input())
print(n*n)
print(2)

In [1]:
# 24265
n = int(input())
print(sum(i for i in range(1,n)))
print(2)

7
21
2

In [2]:
# 24266
n = int(input())
print(n**3)
print(3)

7
343
3

In [3]:
# 24267
n = int(input())
print(n*(n-1)*(n-2)//6)
print(3)

7
35
3

In [5]:
# 24313
# f(x) = nx + k
# g(x) = mx
# x >= i 일 때 모든 경우의 수가 g(x) >= f(x)를 만족하면 1 아니면 0을 출력
n, k = map(int,input().split())
m = int(input())
i = int(input())
if n*i + k <= m*i and n<=m:
  print(1)
else:
  print(0)

7 7
8
1
0