<a href="https://colab.research.google.com/github/Wonbin-Choi/BackJun_Repo/blob/main/%EB%B0%B1%EC%A4%80_8%EB%8B%A8%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2745
n, b = input().split()
print(int(n,int(b)))

zzzzz 36
60466175

In [ ]:
# 11005
def to_nbase(num,n):
  chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
  mod_dict = {i:chars[i] for i in range(len(chars))}
  s=""
  while num != 0:
    s = mod_dict[num%n] + s
    num //= n
  return s

num, n = map(int,input().split())
print(to_nbase(num, n))

60466175 36
ZZZZZ

In [ ]:
# 2720
T = int(input())
money = [25,10,5,1]
for _ in range(T):
  C = int(input())
  count = []
  for i in money:
    count.append(C // i)
    C %= i
  print(f"{count[0]} {count[1]} {count[2]} {count[3]}")

3
124
4 2 0 4
25
1 0 0 0
194
7 1 1 4

In [ ]:
# 2903
# N=0  (2**2)
# N=1  (3**2)
# N=2  (5**2)
# N=3  (9**2)
# N=4  (17**2)
# N=5  (33**2)
N = int(input())
b = 1
a = 2
point = 1
for i in range(N):
    a += b
    point = a**2
    b *= 2
print(point)

5
1089

In [ ]:
# 2292
# 1 -> 1
# 2 -> 1 + 6
# 3 -> 1 + 6 + 12
# 4 -> 1 + 6 + 12 + 18
N = int(input())
start = 1
cnt = 1
while N > start:
  start += 6 * cnt
  cnt += 1
print(cnt)

66
6

In [ ]:
# 1193
# 1/1 -> 1/2 -> 2/1 -> 3/1 -> 2/2 -> 1/3 -> 1/4 -> 2/3 -> 3/2 -> 4/1 ->...

X = int(input()) # X번째 분수 구하기
k = 1
numer = 1 # 분자
denom = 1 # 분모
flag = 1
for _ in range(X-1):
  if flag == 0: # 아래에서 위로
    denom -= 1
    numer += 1
    if denom < 1:
      k+=1
      numer=k
      denom=1
      flag = 1

  elif flag == 1: # 위에서 아래로
    denom += 1
    numer -= 1
    if numer < 1:
      k+=1
      denom=k
      numer=1
      flag = 0

print(f"{numer}/{denom}")

14
2/4

In [ ]:
import math
a,b,v = map(int, input().split())
# 달팽이는 무조건 낮에 도착을 한다.
# M(하루 이동 거리) = A - B
# D(소요 일수) = (V - A) / (A - B) + 1(도착한 날 낮)
print(math.ceil((v-a) / (a-b) + 1))

100 99 1000000000
999999901

In [3]:
# 2609
import math
a, b = map(int,input().split())
print(math.gcd(a,b))
print(int(a*b/math.gcd(a,b)))

24 18
6
72